/* Styles of Main Screen*/

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: black;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

.menu .label{
    -fx-text-fill: #ffcb0e;
}