
.label{
    -fx-text-fill: #ffcb0e;
    -fx-font-size: 17;
}

#VBox{
    -fx-padding: 30 30 30 30;
}

ComboBox {
    -fx-font-size: 15;
}
Button {
    -fx-background-color: #ffcb0e;
    -fx-font-weight: bold;
    -fx-cursor: HAND;
}


